---
services:
  whisparr:
    image: ghcr.io/hotio/whisparr:${WHISPARR_TAG:-latest}
    container_name: whisparr
    hostname: whisparr
    environment:
      - TZ=${TZ}
      - PUID=${PUID_MEDIA}
      - PGID=${PGID_MEDIA}
    volumes:
      - ${ROOT_DIR}/whisparr/config:/config
      - media:/media
    ports:
      - ${WHISPARR_PORT:-6969}:6969
    mem_limit: 1g
    mem_reservation: 128m
    cpus: 0.5
    restart: unless-stopped
    networks:
      - arr
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - diun.enable=true

volumes:
  media:
    driver: local
    driver_opts:
      type: "nfs4"
      o: "addr=${NFS_SERVER},${NFS_OPTS}"
      device: ":${NFS_MEDIA_PATH}"

networks:
  arr:
    external: true
