---
services:
  whisparr-v3:
    image: ghcr.io/hotio/whisparr:${WHISPARR_V3_TAG:-v3}
    container_name: whisparr-v3
    hostname: whisparr-v3
    environment:
      - TZ=${TZ}
      - PUID=${PUID_MEDIA}
      - PGID=${PGID_MEDIA}
    volumes:
      - ${ROOT_DIR}/whisparr-v3/config:/config
      - media:/media
    ports:
      - ${WHISPARR_V3_PORT:-6970}:6969
    mem_limit: 1g
    mem_reservation: 128m
    cpus: 0.5
    restart: unless-stopped
    networks:
      - arr
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - diun.enable=true

volumes:
  media:
    driver: local
    driver_opts:
      type: "nfs4"
      o: "addr=${NFS_SERVER},${NFS_OPTS}"
      device: ":${NFS_MEDIA_PATH}"

networks:
  arr:
    external: true
