---
services:
  bazarr-4k:
    image: lscr.io/linuxserver/bazarr:${BAZARR_4K_TAG:-latest}
    container_name: bazarr-4k
    hostname: bazarr-4k
    environment:
      - TZ=${TZ}
      - PUID=${PUID_MEDIA}
      - PGID=${PGID_MEDIA}
    volumes:
      - ${ROOT_DIR}/bazarr-4k/config:/config
      - media:/media
    ports:
      - ${BAZARR_4K_PORT:-6768}:6767
    mem_limit: 1g
    mem_reservation: 128m
    cpus: 0.5
    restart: unless-stopped
    networks:
      - arr
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - diun.enable=true

volumes:
  media:
    driver: local
    driver_opts:
      type: "nfs4"
      o: "addr=${NFS_SERVER},${NFS_OPTS}"
      device: ":${NFS_MEDIA_PATH}"

networks:
  arr:
    external: true
