AUDIOBOOKREQUEST_PORT=8795
# AUDIOBOOKREQUEST_TAG=latest

# Set initial root credentials on first launch (no effect if root admin already exists)
# ABR_APP__INIT_ROOT_USERNAME=admin
# ABR_APP__INIT_ROOT_PASSWORD=

# Default Audible region: us, ca, uk, au, fr, de, jp, it, in, es, br
# ABR_APP__DEFAULT_REGION=us
