---
services:
  sabnzbd:
    image: ghcr.io/linuxserver/sabnzbd:${SABNZBD_TAG:-latest}
    container_name: sabnzbd
    hostname: sabnzbd
    environment:
      - TZ=${TZ}
      - PUID=${PUID_MEDIA}
      - PGID=${PGID_MEDIA}
    volumes:
      - ${ROOT_DIR}/sabnzbd/config:/config
      - ${LOCAL_DOWNLOADS}/sabnzbd:/media/downloads/sabnzbd
    ports:
      - ${SABNZBD_PORT:-8080}:8080
    mem_limit: 4g
    mem_reservation: 256m
    cpus: 2.0
    restart: unless-stopped
    networks:
      - arr
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: curl --fail http://localhost:8080/sabnzbd/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 5s
    labels:
      - diun.enable=true

networks:
  arr:
    external: true
