# Generate: openssl rand -base64 32
POSTGRES_PASSWORD=

POSTGRES_HOST=rreading-glasses-db.rreading-glasses_default
POSTGRES_USER=rreading-glasses
POSTGRES_DB=rreading-glasses

# Starts with "Bearer "
HARDCOVER_AUTH=

RREADING_GLASSES_PORT=8788
RREADING_GLASSES_DB_PORT=5432
