---
services:
  jellyfin:
    image: jellyfin/jellyfin:${JELLYFIN_TAG:-latest}
    container_name: jellyfin
    hostname: jellyfin
    environment:
      - JELLYFIN_PublishedServerUrl=${JELLYFIN_URL}
    group_add:
      - "${RENDER_GID:-989}"
    volumes:
      - ${ROOT_DIR}/jellyfin/config:/config
      - ${ROOT_DIR}/jellyfin/cache:/cache
      - media:/media
    ports:
      - ${JELLYFIN_PORT:-8496}:8096
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    mem_limit: 8g
    mem_reservation: 2g
    cpus: 8.0
    restart: unless-stopped
    networks:
      - arr
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: curl --fail http://localhost:8096/health || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      - diun.enable=true

  jellysearch:
    image: domistyle/jellysearch:${JELLYSEARCH_TAG:-latest}
    container_name: jellyfin-jellysearch
    restart: unless-stopped
    volumes:
      - ${ROOT_DIR}/jellyfin/config:/config:ro
    ports:
      - ${JELLYSEARCH_PORT:-5000}:5000
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
      - INDEX_CRON=0 0 0/2 ? * * *
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  meilisearch:
    image: getmeili/meilisearch:${MEILISEARCH_TAG:-v1.9}
    container_name: jellyfin-meilisearch
    restart: unless-stopped
    volumes:
      - ${ROOT_DIR}/jellyfin/meilisearch:/meili_data
    ports:
      - ${MEILISEARCH_PORT:-7700}:7700
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  media:
    driver: local
    driver_opts:
      type: "nfs4"
      o: "addr=${NFS_SERVER},${NFS_OPTS}"
      device: ":${NFS_MEDIA_PATH}"

networks:
  arr:
    external: true
